.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #09d3ac;
}

.title {
  margin: 5vh 0vh 1vh;
}

.subtitle {
  margin: 0vh;
  font-style: italic;
  color: #EA969E;
}

.footerContainer {
  position: relative;
  height: 15vh;
  bottom: 1vh;
  width: 30vw;
  left: 45vw;
}

.footer {
  position: absolute;
  bottom: 1vh;
  color: #09d3ac;
  text-align: center;
}